<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../main-style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Мониторинг</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-status status-none">
        <span class="status font-large">Все системы работают</span>
    </div>


    <div class="info_items">
        <div class="info_item">
            <div class="info_item-info">
                <div class="info_item-name-status">
                    <span class="info_item-name">Название</span>
                    <div class="info_item-status">
                        <a>Работает.</a>
                    </div>
                </div>
                <div class="info_item-shards">
                    <svg height="34" viewBox="150 0 298 34">
                        <rect height="34" width="3" x="-95" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="-90" y="0" fill="#e67825"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="-85" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="0" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="5" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="10" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="15" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="20" y="0" fill="#9bc835"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="25" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="30" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="35" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="40" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="45" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="50" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="55" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="60" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="65" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="70" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="75" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="80" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="85" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="90" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>
                        <rect height="34" width="3" x="150" y="0" fill="#2fcc66"
                              class="uptime-day component-lw0ltgq2xlqs day-0" data-html="true"></rect>

                    </svg>

                    <div class="legend">
                        <div class="legend_item">
                            <span>60 дней назад</span>
                        </div>
                        <div class="spacer"></div>
                        <div class="legend_item">100 %</div>
                        <div class="spacer"></div>
                        <div class="legend_item">
                            <span>Сегодня</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info_item">
            <div class="info_item-info">
                <div class="info_item-name-status">
                    <span class="info_item-name">Название</span>
                    <div class="info_item-status">
                        <a>Работает.</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info_item">
            <div class="info_item-info">
                <div class="info_item-name-status">
                    <span class="info_item-name">Название</span>
                    <div class="info_item-status">
                        <a>Работает.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="incidents-list">
        <a class="font-largest no-link">
            Сбои
        </a>
        <div class="spacer"></div>
        <div class="status-day font-regular no-incidents">
            <div class="date border-color font-large">
                03.09.2021
            </div>
            <p class="color-secondary">
                Без инцидентов.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="status-day font-regular no-incidents">
            <div class="date border-color font-large">
                02.09.2021
            </div>
            <p class="color-secondary">
                Без инцидентов.
            </p>
        </div>
        <div class="spacer"></div>

        <div class="status-day font-regular no-incidents">
            <div class="date border-color font-large">
                01.09.2021
            </div>
            <p class="color-secondary">
                Без инцидентов.
            </p>
        </div>
        <div class="spacer"></div>

        <div class="status-day font-regular no-incidents">
            <div class="date border-color font-large">
                31.08.2021
            </div>
            <p class="color-secondary">
                Без инцидентов.
            </p>
        </div>
        <div class="spacer"></div>
        <div class="status-day font-regular">
            <div class="date border-color font-large">
                31.08.2021
            </div>
            <div class="incident-container">
                <div class="incident-title impact-minor font-large">
                    <a href="#">Деградация бла бла бла бла бла</a>
                </div>
                <div class="updates-container">
                    <div class="update font-regular resolved">
                        <strong>Решено</strong>
                        -
                        С 15:18 до 15:26 наблюдалась деградация сервиса лояльности.
                        <br>
                        <br>
                        Также в этот период не работала часть функциональности административного сайта, например,
                        создание и редактирование рассылок.
                        <br>
                        <br>
                        На данный момент работа всех сервисов происходит в штатном режиме.
                        <br>
                        <br>
                        <small>
                            31.08.2021
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>

    </div>
</div>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>