<div class="info_item">
    <div class="info_item-info">
        <div class="info_item-name-status">
            <span class="info_item-name">Название</span>
            <div class="info_item-status">
                <a>Работает.</a>
            </div>
        </div>
        <div class="info_item-shards">
            <div class="info__item--lines">
                <div class="main__vertical">
                    <div class="block_vertical"></div>
                    <div class="popup">
                        <div class="popup__date">
                            20 Jul 2021
                        </div>
                        <div class="popup__text">No result</div>
                    </div>
                </div>

                <div class="main__vertical">
                    <div class="block_vertical"></div>
                    <div class="popup">
                        <div class="popup__date">
                            20 Jul 2021
                        </div>
                        <div class="popup__text">No result</div>
                    </div>
                </div>
                <div class="main__vertical ">
                    <div class="block_vertical block__error"></div>
                    <div class="popup">
                        <div class="popup__date">
                            20 Jul 2021
                        </div>
                        <div class="popup__error--block">
                            <h4 class="popup__error--title">Я ошибка</h4>
                            <span class="popup__error--time">
                                        <span class="popup__error--hours">02 hrs</span>
                                        <span class="popup__error--minutes">33 mins</span>
                                    </span>
                        </div>
                        <div class="popup__text">
                            <h4 class="popup__text--title">Ошибка</h4>
                            <p class="popup__text--text">error in ok.ru</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="legend">
                <div class="legend_item">
                    <span>60 дней назад</span>
                </div>
                <div class="spacer"></div>
                <div class="legend_item">100 %</div>
                <div class="spacer"></div>
                <div class="legend_item">
                    <span>Сегодня</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="info_item">
    <div class="info_item-info">
        <div class="info_item-name-status">
            <span class="info_item-name">Название</span>
            <div class="info_item-status">
                <a>Работает.</a>
            </div>
        </div>
    </div>
</div>