<div class="spacer"></div>

<div class="status-day font-regular no-incidents">
    <div class="date border-color font-large">
        03.09.2021
    </div>
    <p class="color-secondary">
        Без инцидентов.
    </p>
</div>

<div class="spacer"></div>

<div class="status-day font-regular no-incidents">
    <div class="date border-color font-large">
        02.09.2021
    </div>
    <p class="color-secondary">
        Без инцидентов.
    </p>
</div>

<div class="spacer"></div>

<div class="status-day font-regular">
    <div class="date border-color font-large">
        31.08.2021
    </div>
    <div class="incident-container">
        <div class="incident-title impact-minor font-large">
            <a href="#">Деградация бла бла бла бла бла</a>
        </div>
        <div class="updates-container">
            <div class="update font-regular resolved">
                <strong>Решено</strong>
                -
                С 15:18 до 15:26 наблюдалась деградация сервиса лояльности.
                <br>
                <br>
                Также в этот период не работала часть функциональности административного сайта, например,
                создание и редактирование рассылок.
                <br>
                <br>
                На данный момент работа всех сервисов происходит в штатном режиме.
                <br>
                <br>
                <small>
                    31.08.2021
                </small>
            </div>
        </div>
    </div>
</div>